<h1>Payment</h1>

<p>
  <b>Member</b><br>
  <%= @payment.member_id %>
</p>

<p>
  <b>Name</b><br>
  <%= @payment.name %>
</p>

<p>
  <b>Amount</b><br>
  <%= @payment.amount %>
</p>

<div class="form-actions">
  <%= link_to 'Back', payments_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_payment_path(@payment), :class => 'btn' %>
  <%= link_to 'Delete', payment_path(@payment), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
