<!DOCTYPE html>
<html>
<head>
  <title>Rentenator</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<br /><br />
<%= link_to 'Families', families_path, :class=>'btn'%>
<%= link_to 'Members', members_path, :class => 'btn'%>
<%= link_to 'Payments', payments_path, :class=> 'btn'%>

</body>
</html>
