<p id="notice"><%= notice %></p>
<table>
	<tr valign="top">	
		<td width="300">
			<%= render :partial => "member_data" %>
		</td>
		<td width="10">&nbsp;</td>
		<td width="250">
			<% unless @current_payments.empty? %>
			  <%= render :partial => "current_payments" %>
			<% end %>
		</td>
	</tr>
</table>

<div class="form-actions">
  <%= link_to 'Back', members_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_member_path(@member), :class => 'btn' %>
  <%= link_to 'Delete', member_path(@member), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
