<h1>Member</h1>

<p>
  <b>Family</b><br>
  <%= @member.family_id %>
</p>

<p>
  <b>Name</b><br>
  <%= @member.name %>
</p>

<p>
  <b>Bills paid</b><br>
  <%= @member.bills_paid %>
</p>

<p>
  <b>Balance</b><br>
  <%= @member.balance %>
</p>

<div class="form-actions">
  <%= link_to 'Back', members_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_member_path(@member), :class => 'btn' %>
  <%= link_to 'Delete', member_path(@member), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
